@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f6;
  --foreground: #14171a;

  --border: #80808a20;
  --muted: #80808a80;
}

.dark {
  --background: #121212;
  --foreground: #f0f0f6;
}
